

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  'Montserrat', sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 1024.98;
$md2-5: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #2C3E4C;
$mainColor: #14A8F2;
$bgColor: #EAECED;
$hover: #106a97;
