.checkbox {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	& input {
		position: absolute;
		opacity: 0;
		z-index: -1;

		&:checked ~ .checkbox__square {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDJMNS42IDExLjZMMiA4IiBzdHJva2U9IiNGQ0ZDRkMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
		}
		&:checked ~ .wpcf7-list-item-label .checkbox__square {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDJMNS42IDExLjZMMiA4IiBzdHJva2U9IiNGQ0ZDRkMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
		}
	}
	&__square {
		flex: 0 0 auto;
		width: 20px;
		height: 20px;
		border-radius: 2px;
		background-color: $mainColor;
		margin-right: 12px;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;

		@media (max-width: $md3+px) {
			font-size: 12px;
		}

		& a {
			color: inherit;
			transition: all .3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $mainColor;
					text-decoration: underline;
				}
			}
		}
	}

    & .wpcf7-list-item-label {
        display: flex;
        align-items: center;
    }


    & .wpcf7-list-item {
        margin: 0;
    }
}